<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Education</h2>

      <img src="itba.jpg" alt="Instituto Tecnologico de Buenos Aires" width="140">
      <img src="escp.jpg" alt="ESCP Europe" width="128">

    <p>Upon finishing high school, I took on the challenge of obtaining a BS in Business Management and Systems at Instituto Tecnológico de Buenos Aires. Nowadays, after being selected in the context of a Dual Degree program, I'm taking my next steps at ESCP Paris' Master in Management.</p>
  </div>
  <div class="tech">
    <h2>Experience</h2>
    
      <img src="mercadolibre.png" alt="Mercadolibre" width="100">
      <img src="jpmorgan.png" alt="JP Morgan" width="100">
      
    <p>I had my first work experience as a Rep at Mercadolibre before having the oportunity to be a report and data-driven Client Onboarding Intern at JP Morgan. On an academic side, I took on the role of Assistant Professor to help starting students.</p>
  </div>
  <div class="tech">
    <h2>Other Skills and Experiences</h2>
    

    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
