<div class="user-details">
  <h1>Who I am</h1>
    
    <img src="rodrigoauditore.png" alt="Rodrigo Auditore" width="140">
    
  <p>{{ site.user_description }}</p>
    
    <em>"Speak only if it improves upon the silence."</em> - Mahatma Gandhi
    
</div>
<div class="user">
  <div class="tech">
    <h2>Education</h2>

      <img src="itba.jpg" alt="Instituto Tecnologico de Buenos Aires" width="140">
      <img src="escp.jpg" alt="ESCP Europe" width="128">

    <p>Upon finishing high school, I took on the challenge of obtaining a BS in Business Management and Systems at Instituto Tecnológico de Buenos Aires. Nowadays, after being selected in the context of a Dual Degree program, I'm taking my next steps at ESCP Paris' Master in Management.</p>
  </div>
  <div class="tech">
    <h2>Experience</h2>
    
      <img src="mercadolibre.png" alt="Mercadolibre" width="100">
      <img src="jpmorgan.png" alt="JP Morgan" width="100">
      
    <p>I had my first work experience as a Rep at Mercadolibre before having the opportunity to be a report and data-driven Client Onboarding Intern at JP Morgan. On an academic side, I took on the role of Assistant Professor at ITBA to help starting students.</p>
  </div>
  <div class="tech">
    <h2>More about me</h2>
    
      <img src="excel.png" alt="VBA Excel" width="80">
      <img src="wse.jpg" alt="Wimbledon School of English" width="65">
      <img src="DT.png" alt="Design Thinking" width="65">
      
    <p>I have strong knowledge in SQL, Excel and VBA Macros. Lately, I've been dabbling into the world of data analytics and web development. I speak Spanish and English bilingually and have been learning French for the past year and a half. Check out my CV for more information! </p>
  </div>
</div>
