<div class="user-details">
  <h1>Who I am</h1>
    
    <img src="rodrigoauditore.png" alt="Rodrigo Auditore" width="300">
    
  <p>{{ site.user_description }}</p>
    
    <em><strong>"Speak only if it improves upon the silence."</strong></em> - Mahatma Gandhi
    
</div>
<div class="user">
  <div class="tech">
    <h2>Education</h2>

       <img src="ESCPITBA.png" alt="ITBA and ESCP" width="305">
    <p align="justify">Upon finishing high school, I took on the challenge of obtaining a <strong>BS in Business Management and Systems</strong> at Instituto Tecnológico de Buenos Aires. Nowadays, after being selected in the context of a <strong>Dual Degree</strong> program, I'm taking my next academic steps at <strong>ESCP Paris' Master in Management</strong>.</p>
  </div>
  <div class="tech">
    <h2>Experience</h2>
    
      <img src="MLJP.png" alt="Mercadolibre and JP Morgan" width="320">
    <p align="justify">I had my first work experience as a Custumer Service Rep at <strong>Mercadolibre</strong> before having the opportunity to be a report and data-driven Client Onboarding Intern at <strong>JP Morgan</strong>. On an academic side, I took on the role of <strong>Assistant Professor</strong> at ITBA to empower the next generation of students.</p>
  </div>
  <div class="tech">
    <h2>More about me</h2>
    
      <img src="moreaboutme.png" alt="VBA Excel" width="305">
      
    <p align="justify">I have strong knowledge in <strong>SQL, Process Modeling, Excel and VBA Macros</strong>. In my free time, I enjoy video editing and music creation. Lately, I've been dabbling into the world of <strong>Data Analytics and Web Development</strong>. I speak Spanish and English bilingually and have been learning French for the past year and a half. Check out my resume for more! </p>
  </div>
</div>


    <div class="resume"><a href="CV Rodrigo Auditore English.pdf" download><img src="resume1.png" alt="Click here to download resume" width="200" class="center"></a></div>

